<div class="maincartlink" class="me-4">
    <div class="shop-nav jumbotron d-flex ms-md-5 " style="background-color: #ADD8E6;">
        <div class="row">
            <div class="headactive col-ms-6 ms-offset-3 centerfy">
                <button type="button" class="shop-btn " style="background-color: #AFEEEE;border-radius: 20px;color:black; font-family:sans-serif;" routerLink="/cart" routerLinkActive="active">
            1.SHOPPING CART
          </button>
                <button type="button" class="shop-btn " style="background-color: #AFEEEE;border-radius: 20px;color:black;font-family:sans-serif;" routerLink="/shipping-detail" routerLinkActive="active">
            2.SHIPPING DETAILS
          </button>
                <button type="button" class="shop-btn " style="background-color: #AFEEEE;border-radius: 20px;color:black;font-family:sans-serif;">
            3.PAYMENT OPTION
          </button>
            </div>
        </div>
    </div>
</div>