<!------footer top box-->
<div class="footer">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">

        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home &nbsp;| <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About &nbsp;|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shop &nbsp;|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help &nbsp;</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-------footerbottom box-->
    <footer class="bg-light text-center text-lg-start footer-div ">
        <div class=" container-fluid ">
            <div class="row ">

                <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2); color:white ">
                    © 2020 Copyright:
                    <a class="text-dark " href="https://google.com/ " style="color: white!important;text-decoration: none; ">InfinityShop</a>
                </div>
            </div>
        </div>

    </footer>
</div>
<!--<footer class=" main-footer text-center container-fluid ">
    <p>
        Home<span class="space ">|</span> About <span class="space ">|</span> Shop <span class="space ">|</span> Help </p>

    <svg class="bi " width="30 " height="24 "></svg>

    <span class="text-muted ">© 2021 Company, Inc</span>

</footer>-->