.main-component {
    padding-top: 0px!important;
}

.paypal {
    border: 1px solid black !important;
    width: 525px!important;
    margin-left: 10px !important;
    margin-top: 10px !important;
}

.main-component {
    padding-top: 100px;
}

.paymentcartlink {
    padding-top: 100px;
}