.header1 {
    // width: 100%;
    padding-top: 80px;
    // background-color: #6666FF!important;
    .header-2 {
        // background-color: #E10032!important;
    }
    .btn {
        background-color: #E10032;
        color: #0F1114;
    }
}