<div class="header1 jumbotron text-center bg-light ">

    <div class=" header-2 jumb mb-5 bg-light">
        <h1 style="color:hsl(216, 14%, 7%);">Your Order Has Been &nbsp;<span style="color:#E10032;">Placed</span> </h1>

    </div>
    <div>
        <p style="color:#0F1114">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <p style="color:#0F1114">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <div class="mb-5">
        <button type="button" class="btn" routerLink="/main-component">Continue Shopping</button>
    </div>
</div><br><br><br><br><br><br><br><br><br><br>